* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  white-space: normal;
  background: #FCFFF5;
  color: #484848;
}

.father {
  padding: 50px 10%;
}

.header {
  background-image: url(../img/bannerRM.png);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  height: 200px;
}

.nav {
  flex: 1 1 auto;
  height: 100px;
}

.section_info {
  display: flex;
  flex: 1 1 auto;
}

.welcome {
  font-size: 30px;
}

.init {
  font-size: 18px;
  margin: 20px 0;
}

.footer {
  background: url(../img/pie.png);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  height: 200px;
  align-items: flex-end;
  padding: 0 10%;
}

.parrafo {
  color: white;
  font-size: 16px;
  background: transparent;
  margin-bottom: 20px;
}

.selection_section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;
}

.selection_control {
  display: flex;
}

.selection_control button {
  padding: 5px;
  background: transparent;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 black;
}

.label {
  display: flex;
  font-size: 18px;
}

.filter_label {
  font-size: 15px;
  margin-left: 7px;
  margin-right: 20px;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card {
  margin: 10px 10px;
  flex: 1 1 15%;
  border: 1px solid rgba(182, 182, 182, 0.5);
  box-shadow: 5px 5px 5px 0 rgba(182, 182, 182, 0.36);
  border-radius: 7px;
  padding: 10px;
  min-width: 20%;
  max-width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 84%;
  margin: 15px 0;
}

.card h3 {
  font-size: 20px;
  color: #484848;
  font-weight: bold;
  margin: 15px 0;
}

.card p {
  font-size: 16px;
}

.percent {
  color: #008080;
}

/Media Query responsive/ @media all and (max-width: 768px) {
  .header {
    height: 170px;
  }

  .father {
    padding: 50px 3%;
  }

  .selection_control {
    margin-top: 5px;
  }

  .filter_label {
    margin-right: 10px;
  }

  .card {
    padding: 10px;
    min-width: 30%;
  }

  .footer {
    padding: 3%;
  }
}

@media all and (max-width: 480px) {
  .section-cards {
    justify-content: center;
  }

  .card {
    padding: 10px;
    min-width: 70%;
  }

  .footer {
    padding: 3%;
  }
}

@media all and (max-width: 320px) {
  .header {
    height: 120px;
  }

  .father {
    padding: 20px 5%;
    padding-bottom: 40px;
  }

  .welcome {
    font-size: 22px;
  }

  .footer {
    padding: 5%;
  }
}
