*{
margin:10px;
padding: 0px;
box-sizing: border-box;
}
body{
font-family: "Roboto", sans-serif;
background: #F2F2F2;
color:#484848;
cursor:pointer;
}
.padre{
display: flex;
flex-flow: column nowrap;
}
.header{
display: flex;
flex-flow: column nowrap;
}
.menu{
background-image: url(../img/bannerRM.png);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 300px;
}
.nav{
flex:1 1 auto;
height: 100px;
}
.links{
display: flex;
flex-flow: row nowrap;
color: white;
font-size: 20px;
height: 40px;
justify-content: flex-end;
}
.links li{
list-style: none;
display: flex;

}
.links a:hover{
background: rgba(196, 196, 196, 0.329);
}
.section{
background: #F8F4F4;
display:flex;
flex-direction: row;
width: 100%;
height:500px;
flex-flow: row nowrap;
}
.articulo{
flex: auto;
display: flex;
height: 40px;
}
.article{
display: flex;
flex-flow: column nowrap;
}
.welcome {
font-size: 40px;
display: flex;
flex-flow: column nowrap;
line-height: 1.6;
width: 400px;
}
p{
display: flex;
flex-flow: column nowrap;
font-size: 20px;
line-height: 1.6;
width: 400px;
}
h2{
display: flex;
flex-flow: column nowrap;
font-size: 25px;
width: 400px;
}
h3{
display: flex;
flex-flow: column nowrap;
font-size: 20px;
width: 400px;
}
.imagen1{
background: url(../img/rick-and-morty.jpg);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
height: 450px;
width: 100%;

}
.imagen2{
background: url(../img/links.jpg);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
height: 450px;
width: 100%;

}
.button{
display: flex;
flex-flow: row nowrap;
flex: 1 1 100%;
padding:10px;
align-items: center;
align-content: center;
height: 100px;
text-align: center;
}
.go{
color: white;
height: 90px;
width: 400px;
font-size: 40px;
background-image: linear-gradient(to right top, #051937, #004d7a, #008793);
padding: 3%;
margin: 6px;
border-radius: 20px;
}
.footer{
display: flex;
flex-flow: column nowrap;
}
.pie{
background: url(../img/pie.png);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 200px;
text-align: left;
align-items: center;
}
.parrafo{
color: white;
font-size: 20px;
background: transparent;
}
/*HTML2 css*/
.section_label{
display: flex;
flex-flow: row nowrap;
background: transparent;
}

.label{
background: transparent;
color: #008080;
display: flex;
font-size: 20px;

}
.filter_label{
display: flex;
font-size: 16px;
}

.container-card{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
flex: 1 1 auto;
justify-content: flex-start;
width: 100%;
}
.card{
background: white;
text-align: justify;
margin: 10px 10px;
flex: 1 1 15%;
align-content: stretch;
box-shadow: 2px 2px 2px 0 rgba(211,167,167,0.36) ;
border-radius: 5%;
}
.card  img{
width: 90%;
justify-content: stretch;

}
.card h3{
background: transparent;
width: 90%;
display: flex;
flex-wrap: wrap;
font-size: 25px;
color: black;
vertical-align: top;
}
.card p{
background: transparent;
width: 90%;
display: flex;
flex-wrap: wrap;
font-size: 18px;
}
.percent{
font-weight: bold;
color: #173148;
font-style: oblique;
font-size: 16px
}



/*Media Query responsive*/
@media all and (max-width: 970px){
.section{
flex-direction: colum;
}
.article{
flex-direction: column;
}
.section_label{
flex-direction: column;
}
.image1{
	flex-direction: colum;
	height:300px;
	width: auto;
}
.image2{
	flex-direction: column;
	height: 300px;
	width:auto;
}}

@media all and (max-width: 600px){
	*{
	margin:5px;
	padding: 0px;
	box-sizing: border-box;
	}
.section{
flex-direction: colum;
}
.article{
flex-direction: column;
}
.menu{
width: 100%;
height: 200px;
}
.section_label{
flex-direction: column;
}
.welcome{
font-size: 38px;
}
.p{
font-size: 25px;
}
.go{
height: 90px;
width: 300px;
font-size: 30px;
padding: 6%;
}

.imagen1{
display:none;
}
.imagen2{
	display: none;
}
}

@media all and (max-width: 451px){
	*{
margin: 2px;
padding: 0px;
box-sizing: border-box;
}
.section{
flex-direction: column;
flex-flow: row nowrap;
}
.articulo{
flex-direction: column;
}
.menu{
width: 100%;
height: 100px;
}
.go{
height: 90px;
width: 300px;
font-size: 30px;
padding: 6%;
}
.section_label{
flex-direction: column;
flex-flow: row nowrap;
}
.welcome{
font-size: 25px;
display: flex;
}
.p{
font-size: 10px;
display: flex;
}
.imagen1{
display:none;
}
.imagen2{
display: none;
}
.pie{
width: 400px;
height: 180px;
}
}
@media all and (max-width: 457px){
	*{
margin: 2px;
padding: 0px;
box-sizing: border-box;
}
.section{
flex-direction: column;
flex-flow: row nowrap;
}
.articulo{
flex-direction: column;
}
.menu{
width: 100%;
height: 100px;
}
.go{
height: 90px;
width: 300px;
font-size: 30px;
padding: 6%;
}
.section_label{
display: flex;
background: transparent;
flex-wrap: wrap;
}
.label{
background: transparent;
color: #008080;
display: flex;
font-size: 18px;

}
.filter_label{
display: flex;
font-size: 14px;
}
.welcome{
font-size: 25px;
display: flex;
}
.p{
font-size: 10px;
display: flex;
}
.imagen1{
display:none;
}
.imagen2{
display: none;
}
.pie{
width: 100%;
height: 180px;
}
.container-card{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
flex: 1 1 auto;
justify-content: flex-start;
width: 100%;
}
.card{
background: white;
text-align: justify;
margin: 3px 3px;
flex: 1 1 25%;
align-content: stretch;
box-shadow: 2px 2px 2px 0 rgba(211,167,167,0.36) ;
border-radius: 5%;
}
.links{
font-size: 16px;
}
}
@media all and (max-width: 375px){
	*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.section{
flex-direction: column;
flex-flow: row nowrap;
}
.articulo{
flex-direction: column;
flex-flow: row nowrap;
}
.menu{
width: 100%;
height: 100px;
}
.go{
height: 70px;
width: 270px;
font-size: 28px;
padding: 5%;
}
.section_label{
flex-direction: column;
flex-flow: row nowrap;
}
.welcome{
font-size: 18px;
display: flex;
}
.p{
font-size: 9px;
display: flex;
}
.imagen1{
display:none;
}
.imagen2{
display: none;
}
.pie{
width: 400px;
height: 180px;
}
}
