
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: roboto;
}
html, body {
background-color: #F8F4F4;
}
main {
margin: 5%;
}
nav {
height: 40px;
justify-content: space-between;
display:flex;
min-width: 100;
text-align: center;
}
#logo {
width: 360px;
height: 73px;
}
#logo2 {
  display:none;
}
.navegator{
background: #EDEBEB;
opacity: 100%;
width: 100%;
font-size: 10%;
padding-top: 30px ;
}
.navegator li {
font-size: 10px;
line-height: 12px;
color: Black;
display: inline;
padding: 16px;
}
.navegator li a{
  color:rgba(73,188,206,1);
  font-size: roboto;
  font-style: normal;
}
#pageHome{
display: ;
}
h1 {
font-style: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
}
h2 {
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
color: #000000;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
#img_1{
box-shadow: 0px 5px 3px rgba(145, 147, 160, 0.4);
border-radius: 5px;
width: 311px;
height: 132px;
}

@media (min-width: 320px) {
nav{
width: 100%;
}
#logo {
display: block;
width: 100%;
}
#logo2{
display: none;
}
}

@media (min-width: 768px) {
nav{
width: 100%;
}
#logo {
display: none;
}
#logo2{
display: block;
width: 100%;
}
.navegator li {
font-weight: 500;
font-size: 20px;
line-height: 12px;
color: Black;
display: inline;
padding: 20px;
margin: 2%;
}
}

@media (min-width: 1024px) {
nav {
width: 100%;
}
nav li {
 
 width: 100%;
}
#logo2{
width: 100%;
}
.navegator{
  background: #EDEBEB;
  opacity: 100%;
  width: 100%;
  font-size: 10%;
  padding-top: 11px ;
  }
.navegator li {
font-weight: 600;
font-size: 25px;
line-height: 12px;
color: Black;
display: inline;
padding-top: 11px;
padding: 10px;
margin: 4%;
}

 .image {
  width: 13%;
  height: 13%;
 }


 footer{
  background-image: url('../img/pie.png');
  height: 120px;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-right: 70%;
}
#footer{
  color: white;
  display: inline;
}
.card{
  width: 20%;
  margin: 2%;
  display: inline-block;
  background: #88c5cf;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}
.card img{
  width: 200px;
  height: 200px;
  border-radius: 5%;
  margin: 15px 0;
}
}
