*{
margin:10px 10px 10px 10px;
padding: 0px;
box-sizing: border-box;
}
body{
font-family: "Roboto", sans-serif;
}
.padre{
display: flex;
flex-flow: column nowrap;
}
.header{
display: flex;
flex-flow: column nowrap;
}
.menu{
background-image: url(../img/bannerRM.png);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 400px;
}
.nav{
flex:1 1 auto;
height: 100px;
}
.links{
display: flex;
flex-flow: row nowrap;
color: white;
font-size: 30px;
height: 40px;
}
.links a:hover{
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.section{
background: #F8F4F4;
display:flex;
flex-flow: column nowrap;
}
.articulo{
background: #EDEBEB;
flex:2 1 auto;
display: flex;
flex-flow: column nowrap;
}
.article{
flex: 1 1 100%;
background: #EDEBEB;
display: flex;
flex-flow: column nowrap;
}
h1 {
background: #EDEBEB;
font-size: 40px;
display: flex;
flex-flow: column nowrap;
line-height: 1.6;
}
p{
background: #EDEBEB;
display: flex;
flex-flow: column nowrap;
font-size: 20px;
line-height: 1.6;
}
h2{
background: #EDEBEB;
display: flex;
flex-flow: column nowrap;
font-size: 25px;
}
h3{
background: #EDEBEB;
display: flex;
flex-flow: column nowrap;
font-size: 20px;
}
.imagen1{
background: url(../img/rick-and-morty.jpg);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 600px;
}
.imagen2{
background: url(../img/links.jpg);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 600px;
}
.button{
display: flex;
flex-flow: row nowrap;
flex: 1 1 100%;
justify-content: center;
align-items: center;
height: 100px;
text-align: center;
}
.go{
color: white;
height: 90px;
width: 400px;
font-size: 40px;
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
padding: 3%;
}
.footer{
display: flex;
flex-flow: column nowrap;
}
.pie{
background: url(../img/pie.png);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 150px;
text-align: left;
align-items: center;
}
.parrafo{
color: white;
font-size: 20px;
background: transparent;
}
/*HTML2 css*/
.menu2{
background-image: url(../img/banner2.jpg);
background-position: center;
background-attachment: contain;
background-size:cover;
display: flex;
flex-flow: row nowrap;
height: 280px;
}

.section_label{
display: flex;
flex-flow: row nowrap;
background: transparent;

}
.label{
background: transparent;
color: #008080;
display: flex;
font-size: 20px;
}
.filter_label{
display: flex;
font-size: 16px;
}

.container-card{
display: flex;
flex-wrap: wrap;
flex: 1 1 auto;
align-content: flex-start;
}
.card{
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
border-radius: 5%;
text-align: center;
align-items:center;
margin: 10px 10px;
flex: 1 1 20%;
}
.card  img{
width: 90%;
border-radius: 5%;
}
.card h3{
background: transparent;
width: 90%;
display: flex;
flex-wrap: wrap;
font-size: 25px;
}
.card p{
background: transparent;
width: 90%;
display: flex;
flex-wrap: wrap;
font-size: 20px;
}







/*Media Query responsive*/
@media all and (max-width: 800px){
.section{
flex-direction: colum;
}
.article{
flex-direction: column;
}
.section_label{
flex-direction: column;
}

@media all and (max-width: 640px){
.section{
flex-direction: colum;
}
.article{
flex-direction: column;
}
.section_label{
flex-direction: column;
}
.go{
height: 40px;
width: 60px;
font-size: 20px;
}
*{
margin:2px;
padding: 0px;
box-sizing: border-box;
}
}

@media all and (max-width: 300px){
.section{
flex-direction: column;
}
.articulo{
flex-direction: column;
}
.go{
height: 30px;
width: 50px;
font-size: 18px;
}
.section_label{
flex-direction: column;
}
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
}
