@media screen and (min-width: 768px)and (max-width : 2000px) {
  .modal-welcome{
    margin: 20% auto;
    position: relative;
  }
  .modal-welcome h3 {
    margin-top: 12%;
    font-size: 1.1em;
  }

  .modal-welcome p {
    margin-top: 7%;
    font-size: 1em;
    line-height: 1.5em;
  }

  .CloseX img {
    width: 20%;
    margin-top: 5%;
    margin-left: 40%;
  }
}

@media screen and (min-width: 481px)and (max-width : 767px) {
  .logo {
    width: 90%;
  }

  .img-welcome {
    display: none;
  }

  .modal-welcome h3 {
    margin-top: 12%;
    font-size: 1.1em;
  }

  .modal-welcome p {
    margin-top: 7%;
    font-size: 1em;
    line-height: 1.5em;
  }

  .CloseX img {
    width: 20%;
    margin-top: 5%;
    margin-left: 40%;
  }

  .CloseX img {
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 480px) {

  .logo {
    width: 80%;
  }

  .img-welcome {
    display: none;
  }
}