/* @media (max-width: 600px) {
 /* .sticky {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
 margin: 0; */
/* }
#tittle {
  font-size: 10px;
  letter-spacing: 1px;
  color: #D7B445;
  text-align: initial;
}
h2 {

  color: rgba(215, 181, 69, 0.335);
  font-size: 5px;
  font-weight: 10;
}

.clear {
  color: black;
  background-color: #D7B445;
  width: 100%;
  min-height: 50px;
  border: none;
}

.imagenCharacters {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  align-content: left;
  display: inline;
}
.infoCards {
  color: rgb(102, 96, 77);
  position: fixed;

}
.characterCards {
  max-width: 100%;
  max-height: 200px;
  background-color: #111111;
  border-radius: 5px;
  margin: 5px;
}

#name {
  background-color: #D7B445;
  width: 50%
  color: #000000;
  margin: 0;
  position: fixed;

}










} */ 