@media screen and (max-width: 600px) {

  .sticky {
     background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }


#tittle {
  font-size: 15px;
  letter-spacing: 1px;
  color: #D7B445;
  text-align: start;
  position: sticky;

}

h2{
  display: none;
}
.menuBtn {
  display: inline-block;
  position: static;
  margin-top: 0;
  width: 100%;
}
.menu {

  color: #D7B445;
  position: sticky;
  background-color: black;
  width: 95%;
  height: 30px;
  border: none;
  transition: background-color 2s ease-out;
  /* margin: 5px; */
}
.clear {
  color: black;
  background-color: #D7B445;
  width: 95%;
  min-height: 30px;
  border: none;

  /* margin-left: 10px; */

}
.imagenCharacters {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
}
.infoCards {
 display: none;
}

#name {
  background-color: #D7B445;
  width: 100%;
  color: #000000;
  font-size: 80%;
  text-align: center;
}

.characterCards {
  max-width: 210px;
  background-color: #111111;
  border-radius: 5px;
  margin: 5px;
   align-content: center;
  /* border-color: #D7B445;
  border: 1px; */

}

#container_datos {
position: fixed;
width: 100%;
top: 0;
background: black;
height: 200px; 
margin: 0;

}
.menuBtn {
  position: fixed;
  top: 80px;
  width: 100%;
}




}
