@media (max-width: 600px) {
  body {
    margin: 0;
    background-color: black;
    font-family: 'Lato',
      sans-serif;
  }

  #tittle {
    display: inline-block;
    float: initial;
    font-size: 10px;
  }

  h2 {
    display: none;
  }

  .menuBtn{
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100px;
  }

  #container_datos {
    display: block;
    position: absolute;
  }

  .menu {
    color: #D7B445;
    background-color: black;
    width: 100%;
    height: 50px;
    margin: 0;
    transition: background-color 2s ease-out;

  }
  #selectedSortHTML {
  
    display: inline-block;
  }

  #selectedEpisodeHTML {
    display: inline-block;
  }

  .menu:hover {
    background-color: #D7B445;
    color: black;
  }

  .season {
    background-color: #111111;
    color: #D7B445;
  }

  #container_cards {
    display: inline-block;
  }

  #cards {
    display: inline-block;
  }

  .characterCards {
    max-width: 200px;
    background-color: #111111;
    border-radius: 5px;
    margin: 5px;
    /* border-color: #D7B445;
  border: 1px; */

  }

  .imagenCharacters {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    align-content: center;
  }

  .infoCards {
    padding: 10px;
    text-align: inherit;
    font-size: 80%;
    min-zoom: 60%;
    color: #D7B445;
  }

  #name {
    background-color: #D7B445;
    width: 100%;
    color: #000000;
    font-size: 130%;
    text-align: center;
  }

  .clear {
    color: black;
    background-color: #D7B445;
    width: 310px;
    min-height: 50px;
    border: none;

  }
}
