body { 
  margin: 0;
    }
   .banner {
      margin: 0 auto;
      width: 100%;
      height: 20%;
   }
    .banner img {
      margin: 0 auto ;
      height : 100%;
      width: 100%;
    }
  
  /*.wrapper
  {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
  }*/
  .sticky
  {
    position: sticky;
    /*position: -webkit-sticky;*/
    background: #7bbdff;
    height: 80px;
    top: 0;
    margin-top: 0;
    font-family: 'Shadows Into Light Two', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    vertical-align: center;
  }
  h1 {
    margin-top: 0;
  }
  #principalPage {
    display: flex;
    
  }
   #container_datos {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: end;
    font-family: 'Lato', sans-serif;
   }
   .menu {
    font-family: 'Lato', sans-serif;
    color: rgb(38, 22, 75);
   }
   .filter_episodes {
    font-family: 'Lato', sans-serif;
    color: rgb(38, 22, 75);
   }

  #container_cards {
    display: flex;
  }
  #cards {
    display: flex;
    flex-wrap: wrap;
  }
  .characterCards {
    max-width: 200px;
    background-color:rgb(185, 226, 173) ;
    border-radius: 5px;
    margin: 5px;
    
  }
  .imagenCharacters{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    align-content: center;
    
  }
  .infoCards{
    padding: 5px;
    text-align: inherit;
    font-size: 90%;
    color: rgb(10, 44, 48);
    font-family: 'Lato', sans-serif;
  }
  #name {
    background-color: rgb(250, 252, 160);
    width: 100%;
    color: rgb(38, 22, 75);
    font-size: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
/*#body {
  background-color: #F0F7F0;
  font-family: 'Roboto', sans-serif;
}
 

#selectedEpisodeHTML {
  font-size: 15px;
  max-width: 15%;
   color: #28AFBF;
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
}

  #tittle {
  color: #0F8699;
  background-color: #F0F7F0;
  max-width: 100%;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
.sticky {
  position: sticky;
  top: 100%;
  position: -webkit-sticky;
}
#container_datos{
  display: flex;
  flex-direction: column;
  background-color: #F0F7F0;
  font-size: 15px;
  max-width: 15%;
  color: #28AFBF;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  float: left;
  }
#cards {
  float: right;
  width: 90%;
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
 .characterCards {
   max-width: 200px;
   background-color: rgb(20, 69, 77);
   border-radius: 5px;
   margin: 5px;
   justify-content: end;
   font-size-adjust: initial;
 }
 .imagenCharacters{
   width: 90%;
   padding: 5px;
   border-radius: 5px;
   align-content: center;
 }
 .infoCards{
   padding: 5px;
   text-align: inherit;
   font-size: 80%;
   color: #28AFBF;
   font-family: 'Roboto', sans-serif;
 }
 #name {
   background-color: #7C623B;
   width: 100%;
   color: #28AFBF;
   font-size: 100%;
   text-align: center;
   font-family: 'Roboto', sans-serif;
 }
.link {
  text-decoration: none;
  color: #0F8699;
}
 */