body {
  margin: 0;
  background-color: black;
  font-family: 'Lato',
    sans-serif;
}


.sticky {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#tittle {
  font-size: 30px;
  letter-spacing: 1px;
  color: #D7B445;
  text-align: center;
  box-sizing: border-box;
  vertical-align: center;
}

h2 {
  font-family: 'Lato',
    sans-serif;
    letter-spacing: 5px;
  color: #454A44;
  font-size: 20px;
  margin-bottom: 90px;

}

#principalPage {
  display: flex;
}

#container_datos {
  display: flex;
  position: sticky;
  flex-direction: column;
}

.menu {
  font-family: 'Lato', sans-serif;
  color: #D7B445;
  position: sticky;
  background-color: black;
  width: 310px; 
  height: 50px;
  border: none;
  transition: background-color 2s ease-out;
  margin: 5px;
}
.menuBtn{
  position: fixed;
  top: 400px;
  left: 0;

}

.menu:hover {
  background-color: #D7B445;
  color: black;

}


.season {
  background-color: #454A44;
  color: #D7B445;
}

#container_cards {
  display: flex;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.characterCards {
  max-width: 200px;
  background-color: #454A44;
  border-radius: 5px;
  margin: 5px;

}

.imagenCharacters {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  align-content: center;
}

.infoCards {
  padding: 10px;
  text-align: inherit;
  font-size: 60%;
  min-zoom: 60%;
  color: #D7B445;
}

#name {
  background-color: #D7B445;
  width: 100%;
  color: #454A44;
  font-size: 130%;
  text-align: center;
}

.clear {
  color: black;
  background-color: #D7B445;
  width: 310px;
  min-height: 50px;
  border: none;
  margin: 5px;
   }


