body{
   background-color:rgb(230, 213, 65);
   
}

#image-pok{
  background-image: url("https://i.ibb.co/NttqYqQ/79c4869e6b207aac8ca8100106645764.jpg");
position: relative;
float: left;
margin: 60px;
}

#text-info{
  float:left;
  position: relative;
  background-color: #7475ca;
  width: 300px;
  height:450px;
  margin-top: 17%;
  margin-left: -25%;

}

#text{
  width: 300px;
  height: 400px;
  background-color: #20197e;
}
#root{
  column-count: 4;
  margin-top: 5%;
  height: 20px;
  display: flex;
 flex-wrap: wrap;
 margin-bottom: 10px;
}

.filter{
  font-size: 20px;
  width: 100%;
  height: 100%;
  max-height: 70px;
  max-width: 140px;
  color:#233481 ;
  border-radius:10px;
}

.pok-filter{
  font-size: 19px;
  width: 190px;
  height: 100%;
  max-height: 70px;
  color:#20197e ;
  border-radius:10px;
}

#select-filter, #select-order{
  display:inline-block;
  margin: 7px;

}

#selects{
  padding-top:50px;
  padding-right:32% ;
  display:flex;
  justify-content: center;
  margin: 0 auto;
}
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 205px;
  margin-bottom: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin:20px;

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
 
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}


.flip-card-front {
  background-color:rgba(214, 192, 205, 0.753);
  color: black;
  width: 190px;
  height: 205px;
  border-radius: 40px;
}


.flip-card-back {
  background-color:rgb(78, 114, 161);
  color: white;
  transform: rotateY(180deg);
  width: 190px;
  height: 205px;
  border-radius: 40px;
}

#img-card{
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   padding-top: 15%;
}






