*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: roboto;
}
html, body {
background-color: #F8F4F4;
}
main {
margin: 5%;
}
nav {
justify-content: space-between;
display:flex;
min-width: 100;
}
#logo {
width: 360px;
height: 73px;
}
#logo2 {
  display:none;
}
.navegator{
background: #EDEBEB;
opacity: 100%;
width: 100%;
}
.navegator li {
font-size: 10px;
line-height: 12px;
color: Black;
display: inline;
padding: 16px;
}
.navegator li a{
  color:black;
  font-size: roboto;
  font-style: normal;
}
#pageHome{
display: ;
}
h1 {
font-style: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
}
h2 {
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
color: #000000;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
#img_1{
box-shadow: 0px 5px 3px rgba(145, 147, 160, 0.4);
border-radius: 5px;
width: 311px;
height: 132px;
}

@media (min-width: 320px) {
nav{
width: 100%;
}
#logo {
display: block;
width: 100%;
}
#logo2{
display: none;
}
}

@media (min-width: 768px) {
nav{
width: 100%;
}
#logo {
display: none;
}
#logo2{
display: block;
width: 100%;
}
.navegator li {
font-weight: 500;
font-size: 20px;
line-height: 12px;
color: Black;
display: inline;
padding: 20px;
margin: 2%;
}
}

@media (min-width: 1024px) {
nav {
width: 100%;
}
li {

width: 100%;
}
#logo {
display: none;
}
#logo2{
display: block;
width: 100%;
}
.navegator{

}
.navegator li {
font-weight: 600;
font-size: 25px;
line-height: 12px;
color: Black;
display: inline;
padding: 10px;
margin: 4%;
}
#select{
width: 477px;
height: 58px;
}
#pageCharacters{
display: flex;
flex-wrap: wrap;
}

.cards{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
cursor: pointer;
opacity: 0.71;
padding: 10px 3px 171px 0;
background: rgba(115, 112, 112, 0.54);
-webkit-box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.76) inset;
box-shadow: 2px 2px 2px 0 rgba(40,40,40,0.76) inset;
}
.cards h2, h3 {
font: normal 16px/normal Verdana;
color: rgba(4,19,25,1);
}
.cards img {
width: 115px;
height: 136px;
content: ;
justify-content: center;
}
}
