* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #252525;
  background: linear-gradient(180deg, rgba(222, 205, 250, 0.53) 0%, rgba(28, 51, 131, 0.15) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* .modalW{
  background: rgb(91, 87, 122);
} */
.div-header{
  background: rgb(207, 201, 252);
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#logo {
  max-width: 20em;
  margin: 1.25em;
  outline: 1px #252525 solid;
}
.img-welcome{
  max-width: 5.7em;
  margin: 1.25em;
  outline: 1px #252525 solid;
}
.select {
  display: inline-flex;
  flex-wrap: wrap;
  /* outline: 1px #252525 solid; */
}

select {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #252525;
  padding: 0.625em;
  margin-left: 1.25em;
  width: 7em;
  border: none;
  box-shadow: none;
  background: url(../img/arrow.png) 90% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* outline: 1px #252525 solid;*/
}

option {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #252525;
  background: rgb(223, 212, 245);
}

/* select:hover {
   background: rgba(141, 90, 241); /*funciona pero se borra la flecha
} */

.select-menu {
  background: rgb(223, 212, 245);

}

section {
  margin-top: 1.875em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section div {
  padding: 0.625em;
  margin: 0.625em;
  text-align: center;
  font-size: 0.8em;
  width: 6.25em;
  height: 6.25em;
  background: rgb(197, 208, 230, 0.4);
  border-radius: 25px;
  /* display: flex;
  flex-direction: column-reverse; para dejar texto abajo de la imagen*/
}

section div img {
  max-width: 70px;
  margin: 5px;
  /* outline: 1px #252525 solid; */
}
.modal-welcome{
  background-color: #ffffff;
  border-radius: 25px;
  width: 350px;
  height: 400px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modalW-container{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#modalWCont:target{
  opacity:1;
  pointer-events:auto;
}
