body {
  background-color: #F0F7F0;
  font-family: 'Roboto', sans-serif;
}

#tittle {

  color: #0F8699;
  background-color: #F0F7F0;
  max-width: 100%;
  height: 100px;
  text-align: center;

}

#menu {
  background-color: #F0F7F0;
  float: left;
}

#cards {
  float: right;
  width: 90%;
  align-content: space-around;
}

.characterCards {
  display: inline-block;
  max-width: 400px;
  max-height: 400px;
  background-color: #44413C;
  border-radius: 5px;
  margin: 5px;
}

.imagenCharacters {
  max-width: 380px;
  max-height: 200px;
  padding: 5px;
  border-radius: 5px;
}

.infoCards {
  padding: 5px;
  text-align: initial;
  font-size: 15px;
  color: #28AFBF;

}

#name {
  background-color: #7C623B;
  max-width: 400px;
  max-height: 30px;
  color: #28AFBF;
  font-size: 20px;
}







.sticky {
  position: sticky;
  top: 0%;
  position: -webkit-sticky;

}

.link {
  text-decoration: none;
  color: #0F8699;
}
